header{
    height: 400px;
    width: 50%;
    margin:0px;
    background-color: #00bd7e;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.div{
    width: 150px;
}